.page-wrapper {
  padding-top: 65px; /* pushes content below navbar */
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* App.css */
:root {
  --nav-h: 65px;
}

.page-wrapper {
  padding-top: var(--nav-h);
}
